body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1274px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:450px;
  width:100px;
  height:60px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:748px;
  width:100px;
  height:60px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:196px;
}
#u176_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u176_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:179px;
  width:18px;
  height:19px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:510px;
  width:0px;
  height:0px;
}
#u178_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:242px;
}
#u178_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u178_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:225px;
  width:18px;
  height:19px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:155px;
  width:100px;
  height:60px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:243px;
  width:100px;
  height:60px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:378px;
  width:100px;
  height:60px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:460px;
  width:100px;
  height:60px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:543px;
  width:100px;
  height:60px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:655px;
  width:100px;
  height:60px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:732px;
  width:100px;
  height:60px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:809px;
  width:100px;
  height:60px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:228px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u188_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-47px;
  width:8px;
  height:51px;
}
#u188_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-47px;
  width:20px;
  height:8px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:228px;
  width:0px;
  height:0px;
}
#u189_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u189_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:53px;
}
#u189_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:41px;
  width:20px;
  height:8px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:480px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u190_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-76px;
  width:8px;
  height:80px;
}
#u190_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-76px;
  width:20px;
  height:8px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:480px;
  width:0px;
  height:0px;
}
#u191_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u191_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:18px;
}
#u191_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:6px;
  width:20px;
  height:8px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:480px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u192_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:101px;
}
#u192_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:89px;
  width:20px;
  height:8px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:778px;
  width:0px;
  height:0px;
}
#u193_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u193_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-97px;
  width:8px;
  height:101px;
}
#u193_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-97px;
  width:20px;
  height:8px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:778px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-20px;
  width:8px;
  height:24px;
}
#u194_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-20px;
  width:20px;
  height:8px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:778px;
  width:0px;
  height:0px;
}
#u195_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u195_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:69px;
}
#u195_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:57px;
  width:20px;
  height:8px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:198px;
  width:100px;
  height:60px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:198px;
  width:100px;
  height:60px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:198px;
  width:100px;
  height:60px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:439px;
  width:100px;
  height:60px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:724px;
  width:100px;
  height:60px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:258px;
  width:0px;
  height:0px;
}
#u204_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u204_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u204_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:168px;
  width:18px;
  height:19px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:499px;
  width:0px;
  height:0px;
}
#u205_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:229px;
}
#u205_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u205_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:212px;
  width:18px;
  height:19px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:104px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:154px;
  width:100px;
  height:60px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:242px;
  width:100px;
  height:60px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:346px;
  width:100px;
  height:60px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:439px;
  width:100px;
  height:60px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:521px;
  width:100px;
  height:60px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:681px;
  width:100px;
  height:60px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:778px;
  width:100px;
  height:60px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:228px;
  width:0px;
  height:0px;
}
#u213_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u213_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-48px;
  width:8px;
  height:52px;
}
#u213_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-48px;
  width:17px;
  height:8px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:228px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u214_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-4px;
  width:8px;
  height:52px;
}
#u214_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:40px;
  width:17px;
  height:8px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:469px;
  width:0px;
  height:0px;
}
#u215_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:469px;
  width:0px;
  height:0px;
}
#u216_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u216_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-4px;
  width:8px;
  height:90px;
}
#u216_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:78px;
  width:17px;
  height:8px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:754px;
  width:0px;
  height:0px;
}
#u217_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u217_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-47px;
  width:8px;
  height:51px;
}
#u217_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-47px;
  width:17px;
  height:8px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:754px;
  width:0px;
  height:0px;
}
#u218_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u218_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-4px;
  width:8px;
  height:62px;
}
#u218_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:50px;
  width:17px;
  height:8px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:198px;
  width:100px;
  height:60px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:198px;
  width:100px;
  height:60px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:450px;
  width:100px;
  height:60px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:768px;
  width:100px;
  height:60px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:258px;
  width:0px;
  height:0px;
}
#u225_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:196px;
}
#u225_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u225_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:179px;
  width:18px;
  height:19px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:510px;
  width:0px;
  height:0px;
}
#u226_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:262px;
}
#u226_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u226_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:245px;
  width:18px;
  height:19px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:121px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:154px;
  width:100px;
  height:60px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:242px;
  width:100px;
  height:60px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:469px;
  width:0px;
  height:0px;
}
#u229_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u229_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-97px;
  width:8px;
  height:101px;
}
#u229_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-97px;
  width:17px;
  height:8px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:406px;
  width:100px;
  height:60px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:507px;
  width:100px;
  height:60px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:655px;
  width:100px;
  height:60px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:732px;
  width:100px;
  height:60px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:809px;
  width:100px;
  height:60px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:888px;
  width:100px;
  height:60px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:228px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u236_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-48px;
  width:8px;
  height:52px;
}
#u236_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-48px;
  width:18px;
  height:8px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:228px;
  width:0px;
  height:0px;
}
#u237_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u237_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-4px;
  width:8px;
  height:52px;
}
#u237_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:18px;
  height:8px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:480px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u238_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-48px;
  width:8px;
  height:52px;
}
#u238_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-48px;
  width:18px;
  height:8px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:480px;
  width:0px;
  height:0px;
}
#u239_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u239_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-4px;
  width:8px;
  height:65px;
}
#u239_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:53px;
  width:18px;
  height:8px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:798px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u240_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-117px;
  width:8px;
  height:121px;
}
#u240_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-117px;
  width:18px;
  height:8px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:798px;
  width:0px;
  height:0px;
}
#u241_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u241_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-40px;
  width:8px;
  height:44px;
}
#u241_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-40px;
  width:18px;
  height:8px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:798px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u242_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-4px;
  width:8px;
  height:49px;
}
#u242_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:37px;
  width:18px;
  height:8px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:798px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-4px;
  width:8px;
  height:128px;
}
#u243_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:116px;
  width:18px;
  height:8px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
